<app-navbar></app-navbar>
<div class="company">
  <div class="img">
    <img

      src="../../assets/about.svg"
      alt=""
    />
  </div>
  <div class="company-info">
    <span>ABOUT <span class="our">OUR COMPANY</span></span>
    <p>
      <b>Pico</b> is a India-based website dedicated for sharing stock
      photography under the Pico license. Pico allows photographers to upload
      photos to its website, which are then curated by a team of photo editors.
      In Pico we are aspiring to be one of the largest photography suppliers on
      the internet.
    </p>
  </div>
</div>
