<body>
  <section>
    <div class="container">
      <div class="user signinBx">
        <div class="imgBx">
          <img
            src="../../assets/images/main.png"
            alt=""
          />
        </div>
        <div class="formBx">
          <form #loginForm="ngForm" (ngSubmit)="loginUser(loginForm.value)">
            <h2>Sign In</h2>
            <input type="text" name="username" ngModel placeholder="Username" />
            <input
              type="password"
              name="password"
              ngModel
              placeholder="Password"
            />
            <input type="submit" name="" value="Login" />
            <p class="signup">
              Don't have an account ?
              <button (click)="toggleForm()">Sign Up.</button>
            </p>
          </form>
        </div>
      </div>
      <div class="user signupBx">
        <div class="formBx">
          <form #registerForm="ngForm" (ngSubmit)="registerUser(registerForm.value)">
            <h2>Create an account</h2>
            <input type="text" name="username" ngModel placeholder="Username" />
            <input type="email" name="email" ngModel placeholder="Email Address" />
            <input
              type="password"
              name="password"
              placeholder="Create Password"
              ngModel
            />

            <input type="submit" value="Sign Up" />
            <p class="signup">
              Already have an account ?
              <button (click)="toggleForm()">Sign in.</button>
            </p>
          </form>
        </div>
        <div class="imgBx">
          <img
            src="../../assets/images/pro16-steve madden - 8999.png"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
  <!-- <app-footer></app-footer> -->
</body>
